.PaginationBox ul {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.PaginationBox li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.PaginationBox li:first-child {
  border-radius: 5px 0 0 5px;
}

.PaginationBox li:last-child {
  border-radius: 0 5px 5px 0;
}

.PaginationBox li a {
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
}

.PaginationBox .active a {
  color: white;
}

.PaginationBox .active {
  background-color: #333333;
}

.PaginationBox li a:hover,
.PaginationBox li a.active {
  color: rgb(161, 95, 4);
}

.PaginationBox .page-selection {
  width: 48px;
  height: 30px;
  color: #333333;
}
