
.verticalSwiperNavigation{
  width: 22px;
  height: 22px;
  /* flex: none; */
  /* 자동상속 속성 제거용 margin */
  margin: 0 auto; 
  flex-grow: 0;
  transform: rotate(180deg);
  position: static;
  overflow: hidden;
  /* background-color: aqua; */

  &Prev{
    background: no-repeat  url(../../../public/icons/web-icons/Arrow-2.svg) ;
    background-position: center -80px;
    background-size: 70px;
  }
  &Next{
    background: no-repeat  url(../../../public/icons/web-icons/Arrow-2.svg) ;
    background-position: center -20px;
    background-size: 70px;
    margin-top: 6px;
    order: 4;
  }
}
