@font-face {
  font-family: 'Pretendard';
  src: url('../assets/pretendard-font/Pretendard-Regular.woff');
}

body {
  margin: 0;
  font: inherit;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  background-color: #fff;
  color: #000;

  box-sizing: border-box;

  &::before,
  &::after,
  & *,
  & *::before,
  & *::after {
    box-sizing: border-box;
  }


}

button {
  font-family: inherit;
}
