
.MainBannerCarousel{
  overflow: hidden;
  width: 100%;
  height: 370px;
  display: flex;
  align-items:center; /* 위아래 기준 중앙정렬 */
  justify-content:center; /* 좌우 기준 중앙정렬 */
  min-width: 1068px;
  position: relative;

  .CustomSwiper{
    overflow: hidden;
  width: 100%;
  height: 370px;
  display: flex;
  align-items:center; /* 위아래 기준 중앙정렬 */
  justify-content:center; /* 좌우 기준 중앙정렬 */
  min-width: 1068px;
  position: relative;
  }

  .swiper{
    display: flex;
    max-width: 1920px;
    width: 100%;
    height: 370px;
    position: relative;
    align-items: center;
    margin-bottom: 40px;

    .swiper-wrapper{
      display: flex;
      align-items: center; 
      position: relative;
      width: 100%;

      .swiper-slide{
        text-align:center;
        display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
        align-items:center; /* 위아래 기준 중앙정렬 */
        justify-content:center; /* 좌우 기준 중앙정렬 */
        height: -webkit-max-content!important;
        height: -moz-max-content!important;
        height: max-content!important;
        width: 100%;
      }
    }
  }

  .swiper-button-prev::after,
  .swiper-button-next::after{
    content: "";
    display: none;
  }
}