.Group {
  &Header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 783px;
    margin-bottom: 18px;

    &TotalCount {
      position: absolute;
      margin-right: 721px;
    }
    &Button {
      color: #cccccc;
      display: flex;
    }
  }
}
.divider__sort {
  margin-right: 5px;
  margin-left: 5px;
  &__img {
    margin-left: 5px;
  }
}
