.cartPage {
  padding-bottom: 80px;
  margin: 0 10%;

  &Title {
    padding: 50px 0 48px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
  }
  &Container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    letter-spacing: -0.5px;
    gap: 24px;
  }
}
