// 아코디언 전체 스타일

.accordion {
  position: sticky;
  width: 220px;
  // flex-shrink: 0;
  height: 100%;
  max-height: calc(100vh - 120px);
  top: 80px;
  margin-right: 47px;
  border-bottom: 1px solid rgb(238, 238, 238);
  overflow: hidden scroll;

  &Fillter {
    position: sticky;
    top: 0px;
    display: flex;
    z-index: 20;
    background-color: rgb(255, 255, 255);
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(238, 238, 238);
    line-height: 20px;

    &Name {
      font-weight: 500;
      font-size: 15px;
      color: rgb(51, 51, 51);
    }

    &Button {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      pointer-events: none;
    }
  }
}
