 /* -----탑배너----- */
.topbanner{
  display: flex;
  justify-content: center;
  background-color: #5F0080;

  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 1050px;
  }
  &__text{
    color: #FFFFFF;
  }
  &__close_btn{
    margin-left:341px;
  }
}

/* -----헤더(전체)----- */
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* --Section(회원가입,로그인,고객센터),[(로고,마켓컬리,뷰티컬리),검색어,아이콘3개]-- */
  &__top{
    width: 1050px;
    height: 100px;

    /* 회원가입,로그인,고객센터 */
    &__customer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 36px;
      font-weight: 600;
      
      &_register{
        color:rgb(95, 0, 128);
      }

      & li{
        font-size: 12px;
        margin-left: 4px;

        &::after{
          content: "l";
          margin: 0 11px;
          color:rgb(217, 217, 217);
        }
        &:last-child::after{
          content: "";
          margin: 0 0;
        }
      }
    }
  }
}

/* 로고,마켓컬리,뷰티컬리 */
.kurly_wrapper{
  display: flex;
  height: 63px;
  align-items: center;
  font-weight: 600;
}
.kurly{
  display: flex;

  & li{
    display: flex;
    justify-content : center;
    align-items : center;
    font-weight: 500;
    font-size: 18px;

    /* 마켓컬리 */
    &:nth-child(2){
      margin-left:22px;
      color:rgb(95, 0, 128);
      &:hover{
        color: rgb(95, 0, 128);
      }
    }
    /* 뷰티컬리 */
    &:nth-child(3){
      margin-left: 9px;
      color: rgb(181, 181, 181);

      & ::before{
        content: "l";
        margin-right: 9px;
        color: rgb(181, 181, 181);
      }
    }
  }

  &__beauty:hover{
    color: rgb(95, 0, 128);
  }

  &__logo_icon{
  padding-top: 14px;
  }

  &__new_icon{
    margin-top: -12px;
    margin-left: 3px;
  }
}

/* 검색어 */
.kurly_search{
  margin-left:58px;

  &__form{
    width: 400px;
    display: flex;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;

    & input{
      width:346px;
      padding-left:14px;

      &:focus{
        outline: none;
      }
      &[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}
/* 아이콘3개 */
.headerIcon_wrapper{
  display: flex;
  width: 148px;
  gap:0px 20px;
  margin-left: 183px;

  & li:nth-child(2){
    margin-left: 5px;
  }
}

/* -----미니헤더----- */
.mini_header{
  display: flex;
  justify-content:center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  /* 미니헤더 고정  */
  &__fixed{
    display: flex;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  &__bottome__fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    height: 56px;
  }
  &_category__btn_fixed{
    font-size: 16px;
    font-weight: 600;
    width: 120px;
  }
  &_nav{
    width: 480px;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &__fixed{
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    text-align: center;
    }
  }
  &_search{
    display: flex;
    padding-left: 14px;
    border-radius: 6px;
    box-shadow: rgb(247, 247, 247) 0px 0px 0px 1px inset;
    width: 242px;
    height: 36px;
    background-color: rgb(247, 247, 247);

    &__form{
      width: 400px;
      display: flex;
      border: 1px solid rgb(247, 247, 247);
      border-radius: 6px;

      & input{
          width: 185px;
          padding-right: 22px;
          font-weight: 500;
          font-size: 13px;
          color: rgb(51, 51, 51);
          line-height: 18px;

          &:focus{
            outline: none;
          }
          &[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
      }
    }
  }
  &Icon_wrapper{
    display: flex;
    width: 148px;
    gap: 0px 20px;
  }
}
/* 미니헤더 끝 */

.header__bottome{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 56px;
}
/* 카테고리 */
.header_category__btn{
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
.header_category__btn:hover{
  color: rgb(95, 0, 128);
}
.header_category__btn_img{
  margin-right: 14px;
}
/* 신상품,베스트,알뜰쇼핑,특가 */
.header_nav{
  display: flex;
  align-items: center;
}
.header_nav li{
  width: 150px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 51, 51);
}
.header_nav li :hover{
  color: rgb(95, 0, 128);
  border-bottom: 1px solid rgb(95, 0, 128);
}
/* 샛별배송 */
.header_delivery__btn {
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  font-size: 13px;
  font-weight: 600;
  padding: 6px 16px;
}
.header_delivery__btn span{
  display: inline-block;
  font-weight: 600;
  color: rgb(95, 0, 128);
}





/* 지울것들 밑은 */

.test1{
background-color: pink;
height: 500px;
}
.test2{
  background-color: gold;
  height: 500px;
}
.test3{
  background-color:deepskyblue;
  height: 500px;
}
.test4{
  background-color:rosybrown;
  height: 500px;
}
.test5{
  background-color:cadetblue;
  height: 500px;
}