 /* -----탑배너----- */
.topbanner{
  display: flex;
  justify-content: center;
  background-color: hwb(285 0% 50%);

  &__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 1050px;
  }
  &__text{
    color: #FFFFFF;
  }
  &__close_btn{
    margin-left:341px;
  }
}

/* -----헤더(전체)----- */
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* --Section(회원가입,로그인,고객센터),[(로고,마켓컬리,뷰티컬리),검색어,아이콘3개]-- */
  &__top{
    width: 1050px;
    height: 100px;

    /* 회원가입,로그인,고객센터 */
    &__customer{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 36px;
      font-weight: 600;
      
      &_register{
        color:rgb(95, 0, 128);
      }

      & li{
        font-size: 11px;
        height: 100%;
        line-height: 250%;

        &:last-child::after{
          content: "";
          margin: 0 0;
        }
      }
    }
  }

  /* 로그인했을 때 (일반)유저이름  */
.header__top__customer_username__logo{
    margin-bottom: -4px;
    padding: 3px 3px 3px 1px;
    margin-right: 3px;
}
.header__top__customer_username span{
  color: rgb(95, 0, 128);
  border: 1px solid rgb(95, 0, 128);
  padding: 0px 4px;
    border-radius: 30px;
    font-size: 10px;
  }
  .header__top__customer_register::after,
  .header__top__customer_login::after,
  .header__top__customer_service::after,
  .header__top__customer_username::after{
    content: "ㅣ";
    margin: 0 5px;
    color:rgb(217, 217, 217);
  }
  /* 로그인 했을 때 유저 이름에 뜨는 팝업 */
  .header__top__customer_username{
    position: relative;

    &__popup{
      position: absolute;
      z-index: 2000;
      margin-left: -14px;
      top: 29px;
      padding: 2px 5px;
      border: 1px solid rgb(221, 221, 221);
      background-color: rgb(255, 255, 255);
    }
  }
/* 고객센터 팝업 */
}
.header__top__customer_service{
  position: relative;

  &__popup{
    position: absolute;
    z-index: 2000;
    right: 0px;
    top: 34px;
    width: 120px;
    padding: 3px 9px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);

    & ul{
      display: flex;
    }
    & li{
    height: 24px;
    line-height: 24px;
    width: 100%;
    }
    & a{
      width: 100%;
      display: block;
    }
  }
}


/* 로고,마켓컬리,뷰티컬리 */
.kurly_wrapper{
  display: flex;
  height: 63px;
  align-items: center;
  font-weight: 600;
}
.kurly{
  display: flex;

  & li{
    display: flex;
    justify-content : center;
    align-items : center;
    font-weight: 500;
    font-size: 18px;

    /* 마켓컬리 */
    &:nth-child(2){
      margin-left:22px;
      color:rgb(95, 0, 128);
      &:hover{
        color: rgb(95, 0, 128);
      }
    }
    /* 뷰티컬리 */
    &:nth-child(3){
      margin-left: 9px;
      color: rgb(181, 181, 181);

      & ::before{
        content: "l";
        margin-right: 9px;
        color: rgb(181, 181, 181);
      }
    }
  }

  &__beauty:hover{
    color: rgb(95, 0, 128);
  }

  &__logo_icon{
  padding-top: 7px;
  }

  &__new_icon{
    margin-top: -12px;
    margin-left: 3px;
  }
}

/* 검색어 */
.kurly_search{
  margin-left:38px;

  &__form{
    width: 400px;
    display: flex;
    border: 1px solid rgb(95, 0, 128);
    border-radius: 6px;

    & input{
      width:346px;
      padding-left:14px;

      &:focus{
        outline: none;
      }
      &[type=search]::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}
/* 아이콘3개 */
.headerIcon_wrapper{
  display: flex;
  width: 148px;
  gap:0px 20px;
  margin-left: 183px;

  & li:nth-child(2){
    margin-left: 5px;
  }
}

/* location icon popup */
.headerIcon_wrapper__map_icon{
  position: relative;

  /* 로그인 안했을 때 팝업 */
  &__nologin_popup{  
    position: absolute;
    z-index: 2000;
    right: -115px;
    top: 50px;
    width: 270px;
    padding: 15px 15px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);

    &__img{
      position: absolute;
      top: -13px;
      right: 123px;
    }

    & p{
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 16px;
    }

    & p>span{
      color: #5F0080;
    }
    
    &__login_btn{
      width: 80px;
      height: 36px;
      margin-right: 6px;
      margin-top: 10px;
      border: 2px solid #5F0080;
      border-radius: 4px;
      font-size: 12px;
      font-weight: 550;
      color: #5F0080;
    }

    &__location_search_btn{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width:152px;
      height: 36px;
      margin-top: -1px;
      background: #5F0080;
      border-radius: 4px;
      color: #FFFFFF;
      font-size: 12px;
      font-weight: 550;
      vertical-align: middle;
    }
    
    &__location_search_icon{
      margin-left: -12px;
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(160deg) brightness(107%) contrast(104%);
    }
  }
}


/* 로그인 했을 때 팝업 */
/* 배송지 등록 안되어있을 때 */
.headerIcon_wrapper__map_icon__login_popup__no_address{
  position: absolute;
  z-index: 2000;
  right: -115px;
  top: 50px;
  width: 270px;
  padding: 15px 15px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);
  
  &__img{
    position: absolute;
    top: -13px;
    right: 123px;
  }

  & p{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    &>span{
      color: #5F0080;
    }
    
  }
  &__location_search_btn{
    width: 240px;
    height: 36px;
    margin-top: 5px;
    border: 2px solid #5F0080;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 550;
    background-color: #5F0080;
    color: #FFFFFF;
  }
}

/* 배송지 등록 되어있을 때 */
.headerIcon_wrapper__map_icon__login_popup{
  position: absolute;
  z-index: 2000;
  right: -115px;
  top: 50px;
  width: 270px;
  padding: 15px 15px;
  border: 1px solid rgb(221, 221, 221);
  background-color: rgb(255, 255, 255);

  &__img{
    position: absolute;
    top: -13px;
    right: 123px;
  }

  & p{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;

    &>span{
      color: #5F0080;
    }
  }
  &__location_search_btn{
    width: 240px;
    height: 36px;
    margin-top: 5px;
    border: 2px solid #5F0080;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 550;
    background-color: #ffffff;
    color: #5F0080;
  }
}


/* -----미니헤더----- */
.mini_header{
  display: flex;
  justify-content:center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  /* 미니헤더 고정  */
  &__fixed{
    position: relative;
    display: flex;
    justify-content:center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
  }
  &__bottome__fixed{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1050px;
    height: 56px;
  }
  &__category__btn_fixed{
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    margin-left: -11px;
  }
  &__nav{
    width: 480px;
    display: flex;
    align-items: center;
    margin-left: 30px;

    &__fixed{
    font-size: 16px;
    font-weight: 600;
    width: 120px;
    text-align: center;
    }
  }
  &__search{
    display: flex;
    padding-left: 14px;
    border-radius: 6px;
    box-shadow: rgb(244, 244, 244) 0px 0px 0px 1px inset;
    width: 242px;
    height: 36px;
    background-color: rgb(244, 244, 244);

    &__form{
      width: 400px;
      display: flex;
      border: 1px solid rgb(244, 244, 244);
      border-radius: 6px;

      & input{
          width: 185px;
          padding-right: 22px;
          font-weight: 500;
          font-size: 13px;
          color: rgb(51, 51, 51);
          line-height: 18px;

          &:focus{
            outline: none;
          }
          &[type=search]::-webkit-search-cancel-button {
            -webkit-appearance: none;
          }
      }
    }
  }
  &Icon_wrapper{
    display: flex;
    width: 148px;
    gap: 0px 20px;
  }
}
/* 미니헤더 끝 */

.header__bottome{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 56px;
}
/* 카테고리 */
.header_category__btn{
  height: 56px;
  font-size: 16px;
  font-weight: 600;
  color: rgb(51, 51, 51);

  &:hover{
    color: rgb(95, 0, 128);
  }
  &_img{
    margin-right: 14px;
  }
}
/* 카테고리 서브메뉴 */
.mini_header__bottome__fixed{
  position: relative;
}
.header_catecory__nav{
  display: flex;
  position: absolute;
  top:100%;
  z-index: 10;
  
  &__wrapper{
    background: #FFFFFF;
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    border-left: 1px solid rgb(217, 217, 217);

    & li{
      display: flex;
      gap: 12px;
      align-items: center;
      width: 247px;
      height: 40px;
      padding-left: 13px;
      line-height: 260%;
      
      /* 선물하기 아이콘 */
      &>img{
        display: inline-block;
        /* 선물하기 아이콘 제외 모든 것 */
      }
      &>a{
        display: flex;
        width: 100%;
        font-size: 15px;
      }
    }
    // 나머지아이콘
    & a>img{
      display: inline-block;
      padding-right: 12px;
    }
  }
}

/* 카테고리 side nav 메뉴 */
.header_catecory__side_nav__wrapper{
  background: rgb(244, 244, 244);
  position: absolute;
  width: 247px;
  top:100%;
  right: 53%;
  height: 881px;
  border-top: 1px solid rgb(217, 217, 217);
  border-bottom: 1px solid rgb(217, 217, 217);
  border-right: 1px solid rgb(217, 217, 217);
  z-index: 10;

  & ul{
    height: 100%;

    &>li{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      width: 100%;
      height: 40px;
      gap:12px;
      padding-left: 13px;
      font-size: 15px;
    }
  }
}


/* hover시 효과 */
.header_catecory__nav__wrapper li:hover{
  background: rgb(244, 244, 244);
}
.header_catecory__nav__wrapper li>a:hover{
  filter: invert(17%) sepia(82%) saturate(4420%) hue-rotate(281deg) brightness(52%) contrast(112%);
}
.header_catecory__side_nav__wrapper ul>li:hover a{
  color: rgb(95, 0, 128);
  border-bottom: 1px solid rgb(95, 0, 128);
}


/* 신상품,베스트,알뜰쇼핑,특가 */
.header_nav{
  display: flex;
  align-items: center;
  
  & li{
    width: 150px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: rgb(51, 51, 51);

    & :hover{
      color: rgb(95, 0, 128);
      border-bottom: 1px solid rgb(95, 0, 128);
    }
  }
}
/* 샛별배송 */
.header_delivery__btn {
  border-radius: 18px;
  border: 1px solid rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  font-size: 13px;
  font-weight: 600;
  padding: 6px 16px;

  & span{
    display: inline-block;
    font-weight: 600;
    color: rgb(95, 0, 128);
  }
}





/* 지울것들 밑은 */

.test1{
background-color: pink;
height: 500px;
}
.test2{
  background-color: gold;
  height: 500px;
}
.test3{
  background-color:deepskyblue;
  height: 500px;
}
.test4{
  background-color:rosybrown;
  height: 500px;
}
.test5{
  background-color:cadetblue;
  height: 500px;
}