.loginpage {
  display: flex;
  min-width: 1050px;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 340px;
    /* 로그인 글자 */
    & p {
      font-weight: 800;
      font-size: 20px;
      text-align: center;
      margin-bottom: 30px;
    }
    &__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & input {
        width: 100%;
        height: 54px;
        font-size: 14px;
        padding: 0px 11px 1px 15px;
        border-radius: 4px;
        border: 1px solid rgb(221, 221, 221);
        font-weight: 400;
        margin-bottom: 11px;

        & :focus {
          border: 1px solid rgb(51, 51, 51);
          background: none;
        }
      }
      /* 아이디,비번 찾기 */
      &__find {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        margin-bottom: 18px;
        font-size: 13px;
        & ::after {
          content: 'ㅣ';
        }
        & :last-child::after {
          content: '';
        }
      }
      /* 로그인 버튼 */
      &__login_btn {
        height: 54px;
        width: 100%;
        margin-bottom: 11px;
        border-radius: 3px;
        color: rgb(255, 255, 255);
        background-color: rgb(161, 95, 4);
        border: 0px none;
      }
      /* 회원 가입 버튼 */
      &__register_btn {
        height: 54px;
        width: 100%;
        height: 54px;
        border-radius: 3px;
        color: rgb(161, 95, 4);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(161, 95, 4);
      }
    }
  }
}
