$TextColor: rgb(51, 51, 51);
$PrimaryColor: rgb(161, 95, 4);

.a11yHidden {
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.productDetailWrap {
  width: 1050px;
  margin: 0 auto;
  padding-top: 60px;
}

/* ----- .product ----- */
.product {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &MainImg {
    width: 400px;
  }

  &DetailInfo {
    width: 560px;
    color: #333333;

    div {
      overflow: hidden;
    }

    img {
      width: 100%;
    }

    .shippingWay {
      color: #6b6b6b;
      font-weight: 600;
    }

    .name {
      margin: 6px 0 4px;
      font-size: 28px;
      font-weight: 600;
      line-height: 150%;
    }

    .description {
      color: #a6a6a6;
      font-size: 16px;
      font-weight: 400;
      line-height: 160%;
    }

    .saleRatio {
      float: left;
      margin: 16px 0 0 0;
      color: #fa622b;
      font-size: 28px;
      font-weight: 900;
      line-height: 150%;
    }

    .salePrice {
      float: left;
      display: flex;
      margin: 16px 0 0;
      font-size: 28px;
      font-weight: 900;
      line-height: 150%;

      span {
        margin-left: 3px;
        font-size: 16px;
      }
    }

    .price {
      color: #a6a6a6;
      text-decoration: line-through;
    }

    .alert {
      margin: 5px 0 20px;
      color: rgb(161, 95, 4);
      font-size: 14px;
      font-weight: 500;
      line-height: 150%;
    }

    ul li {
      display: flex;
      padding: 16px 0;
      border-bottom: 1px solid #e1e1e1;
      color: #121212;
      font-size: 14px;
      line-height: 150%;

      &:first-child {
        border-top: 1px solid #e1e1e1;
      }

      p {
        width: 80%;

        &:first-child {
          width: 20%;
          padding-left: 3px;
          color: #6b6b6b;
        }
      }
    }

    .lighter {
      display: block;
      margin-top: 4px;
      color: #898989;
      font-size: 12px;
      font-weight: 400;
      line-height: 120%;
    }
  } //productDetailInfo

  &Select {
    // background-color: aqua;
    width: 432px;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 11px 10px 11px 15px;
    font-size: 12px;
    border: 1px solid rgb(244, 244, 244);

    &Item {
      line-height: 16px;
      // width: 320px;
      // color: $TextColor;
      // overflow-wrap: break-word;
    }

    &PriceInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 12px;

      &Quantity {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid rgb(221, 223, 225);
        width: 88px;
        border-radius: 3px;

        &DecreaseBtn {
          display: inline-flex;
          padding: 0;
          width: 30px;
          height: 30px;
          border: none;
          font-size: 1px;
          color: transparent;
          background-size: auto;
          background-color: transparent;
          background-image: url('../../../public/icons/web-icons/Minus.svg');
          background-repeat: no-repeat;
          // 회색 아이콘으로 이동시 top -46px 더 이동
          background-position: -8px -46px;
          vertical-align: top;
        }

        &Count {
          display: inline-flex;
          overflow: hidden;
          white-space: nowrap;
          -webkit-box-pack: center;
          justify-content: center;
          font-size: 14px;
          font-weight: 600;
          color: $TextColor;
          text-align: center;
          width: 31px;
          height: 28px;
          line-height: 28px;
        }

        &IncreaseBtn {
          display: inline-flex;
          width: 28px;
          height: 28px;
          border: none;
          font-size: 1px;
          color: transparent;
          background-size: auto;
          background-color: transparent;
          background-image: url('../../../public/icons/web-icons/Plus.svg');
          // 회색 아이콘으로 이동시 top -46px 더 이동
          background-position: -8px -8px;
          vertical-align: top;
        }
      }

      &SumPrice {
        font-weight: bold;
        font-size: 12px;
        color: $TextColor;
        padding-right: 5px;
      }
    }
  } // .productSelect

  &TotalPrice {
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin: 28px 0;
    font-weight: 600;

    span {
      transform: translateY(4px);
      padding: 0 5px 0 8px;
      font-size: 36px;
      font-weight: 800;
    }
  }
} // .product

/* .btnArea */
.btnArea {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 54px;
    height: 54px;
    cursor: pointer;
  }

  &AddCartBtn {
    background-color: $PrimaryColor; // 장바구니 담기 버튼
    width: 430px;
    height: 54px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    line-height: 54px;
    cursor: pointer;
  }
}

/* .productInfoTablist */
.productInfoTablist {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 56px;
  z-index: 50;

  .tab {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    width: 263.25px;
    height: 54px;
    border: 1px solid #e1e1e1;
    color: #595959;
    font-weight: 600;
    line-height: 54px;
    cursor: pointer;
  }

  .isSelected {
    background-color: #ffffff;
    border-color: #e1e1e1;
    border-bottom: none;
    color: rgb(161, 95, 4);
  }

  li {
    &:not(:first-child) {
      border-left: none;
    }

    span {
      margin-left: 3px;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

.scrollableInfo {
  overflow: hidden;

  img {
    width: 100%;
  }

  .description {
    margin: 60px 0 10px;
    color: #6b6b6b;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }

  .name {
    padding-bottom: 40px;
    border-bottom: 1px solid #e1e1e1;
    color: #6b6b6b;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  .detailedDescription {
    display: block;
    padding-top: 40px;
    margin-bottom: 100px;
    color: #898989;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    line-height: 160%;
  }

  .why {
    border-top: 1px solid #e1e1e1;
    padding: 100px 0 60px;
    color: #6b6b6b;
    font-size: 36px;
    font-weight: 600;
  }
}
