$TextColor: rgb(51, 51, 51);
$PrimaryColor: rgb(209, 122, 1);

// 전체 선택, 선택삭제 컴포넌트
.selectCtrl {
  &Container {
    padding: 18px 10px 16px 2px;
  }

  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;

  &All {
    display: inline-flex;
    padding: 0px;
    color: $TextColor;
    align-items: center;

    &Text {
      font-weight: 500;
      margin-left: 12px;
    }
  }

  &Line {
    display: inline-block;
    width: 1px;
    height: 14px;
    background: rgb(221, 221, 221);
    margin: 2px 21px 0px 22px;
    vertical-align: top;
  }

  &Delete {
  }
}

// 상품 저장 방법 아코디언
.storingWay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 15px 5px 15px 0px;
  border-top: 1px solid $TextColor;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &Name {
    display: flex;
    align-items: center;
    font-weight: 500;

    &Img {
      margin-right: 8px;
    }
  }

  &Arrow {
    width: 30px;
    height: 30px;
  }
}
