.ProductCarousel {
  width: 1050px;
  margin: 0 auto;
  .ProductCard {
    position: relative;
    display: flex;
    flex-flow: column nowrap;

    // height: 100%;

    &MainWrapper {
      padding: unset;
      text-align: left;

      figure {
        overflow: hidden;
        position: relative;
        width: 249px;
        height: 320px;
        margin-bottom: 14px;

        img {
          background: rgb(161 95 4);
          width: 249px;
          height: 320px;
          transition: 600ms;
        }

        img:hover {
          transition: 860ms;
          transform: scale(1.05, 1.05);
        }
      }

      .ProductCardInfoWrapper {
        bottom: 0;
        min-height: 90px;
        display: flex;
        flex-flow: column nowrap;
        font-size: 14px;

        mark {
          display: block;
          background-color: #fff;
        }

        .ProductCardShippingInfo {
          width: 42px;
          height: 18px;

          font-style: normal;
          font-weight: 600;
          font-size: 12px;
          line-height: 150%;

          color: #898989;

          flex: none;
          order: 0;
          flex-grow: 0;
        }

        .ProductCardProductName {
          width: 239px;
          font-weight: bold;
          font-size: 18px;
          line-height: 24px;
          order: 1;
          color: #333333;
        }

        .ProductCardProductDetail {
          display: block;
          display: none;
          width: 239px;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: #898989;
          order: 2;
          flex-grow: 0;
        }

        .ProductCardPriceWrapper {
          margin-top: 8px;
          display: flex;
          flex-flow: row nowrap;
          align-items: flex-start;
          width: 108px;
          height: 24px;
          line-height: 24px;
          font-size: 18px;
          font-weight: 600;

          flex: none;
          order: 3;
          flex-grow: 0;

          .ProductCardDiscountRate {
            display: inline-block;
            margin-right: 8px;
            color: #fa622f;
            flex: none;
            order: 0;
            flex-grow: 0;
          }

          .ProductCardSellPrice {
            display: inline-block;
            color: #333333;
            flex: none;
            order: 1;
            flex-grow: 0;
          }
        }

        .ProductCardUndiscountedPrice {
          display: flex;

          height: 21px;
          line-height: 21px;
          font-size: 16px;
          font-weight: 400;

          order: 4;
          flex-grow: 0;
          color: #b5b5b5;
          text-decoration: line-through;
        }

        .ProductCardReviewCount {
          margin-top: 8px;
          display: flex;
          order: 5;
          height: 17px;
          color: #999999;
          font-size: 12px;
          line-height: 17px;
          gap: 2px;

          &Icon {
            width: 15px;
          }
        }

        .ProductCardBadgeWrapper {
          margin-top: 8px;
          // display: flex;
          display: none;
          align-items: flex-start;
          gap: 8px;

          width: 123px;
          height: 26px;
          order: 5;
          flex-grow: 0;

          mark {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 4px;
            gap: 4px;

            width: 65px;
            height: 26px;
            font-weight: 600;
            font-size: 12px;
            line-height: 160%;
            background: #e1e1e1;
            border-radius: 4px;

            flex: none;
            flex-grow: 0;
          }
          .ProductCardBobOnly::after {
            color: rgb(161, 95, 4);
            content: 'Bob only';
          }
          .ProductCardLimitedProducts::after {
            color: #333333;
            content: '한정수량';
          }
        }
      }
    }

    .AddCartShortcutBtn {
      position: absolute;
      top: 259px;
      left: 188px;
    }
  }
}
