.ProductCarousel{
  

  &Title{
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -0.26px;
    line-height: 32.2px;
    height: 48px;
  }
}


.horizontalSwiperNavigation{
  width: 60px;
  height: 60px;
  position: absolute;
  top: 160px;
  transform: matrix(1, 0, 0, 1, 0, 0);
  flex: none;
  order: 4;
  flex-grow: 0;
  z-index: 4;
  border-radius: 50%;
  background: url('@/../public/icons/web-icons/Arrow-black.svg') no-repeat center;
  transition: 100ms;

  &Prev{
    left: calc(50% - 555px);
  }
  &Next{
    right:calc(50% - 555px);
    transform: scaleX(-1);
  }
}

.horizontalSwiperNavigation:hover{
  background: url('@/../public/icons/web-icons/Arrow-purple.svg') no-repeat center;
  transition: 300ms;
  
}