$TextColor: rgb(51, 51, 51);
$PrimaryColor: rgb(161 95 4);

.cartCredit {
  position: relative;
  width: 284px;
  min-height: 942px;

  &Container {
    position: absolute;
    width: 284px;
    padding-top: 60px;
  }

  &Address {
    padding: 23px 19px 20px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(242, 242, 242);
    border-right-color: rgb(242, 242, 242);
    border-left-color: rgb(242, 242, 242);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;

    &Title {
      padding-left: 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      background: url('@/../public/icons/web-icons/Location.svg') 0px 50% / 20px
        20px no-repeat;
    }

    &Info {
      padding-top: 12px;
      font-size: 16px;
      line-height: 24px;
      color: $TextColor;

      &Text {
        padding-bottom: 16px;
        font-weight: 500;

        &Em {
          color: $PrimaryColor;
        }
      }

      &SerchBtn {
        display: block;
        padding: 0px 10px;
        text-align: center;
        overflow: hidden;
        width: 100%;
        height: 36px;
        border-radius: 3px;
        color: $PrimaryColor;
        background-color: rgb(255, 255, 255);
        border: 1px solid $PrimaryColor;

        &Text {
          font-weight: 500;
          font-size: 12px;
          line-height: 20px;
          text-indent: -14px;

          &Img {
            vertical-align: top;
            margin-right: 0px;
            display: inline-block;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }

  &TotalPrice {
    padding: 19px 18px 18px 20px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;

    &Info,
    &Sale,
    &Delivery,
    &CreditPrice {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
    }
    &Sale,
    &Delivery {
      padding-top: 12px;
    }

    &Text {
      width: 100px;
      font-size: 16px;
      line-height: 24px;
      white-space: nowrap;
    }

    &Number {
      font-size: 18px;
      text-align: right;
    }

    &Won {
      padding-left: 2px;
      font-size: 16px;
      font-weight: normal;
      vertical-align: bottom;
    }

    &SaleDs {
      display: block;
      padding-top: 2px;
      color: $PrimaryColor;
      font-size: 12px;
      line-height: 18px;
      text-align: right;
    }

    &DeliveryDs {
      display: block;
      padding-top: 2px;
      color: $PrimaryColor;
      font-size: 12px;
      line-height: 18px;
      text-align: right;
    }

    &CreditPrice {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;
      padding-top: 18px;
      border-top: 1px solid #f4f4f4;

      &Text {
        display: flex;
        align-items: baseline;
      }

      &Strong {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
      }
    }
  }

  &Order {
    padding-top: 20px;

    &BtnOff {
      background-color: #ddd;
      display: block;
      padding: 0 10px;
      text-align: center;
      overflow: hidden;
      width: 100%;
      height: 56px;
      border-radius: 3px;
      color: #fff;
      // background-color: $PrimaryColor;
      border: 0 none;
      font-weight: 500;
      cursor: not-allowed;
    }
    &BtnOn {
      background-color: $PrimaryColor;
      display: block;
      padding: 0 10px;
      text-align: center;
      overflow: hidden;
      width: 100%;
      height: 56px;
      border-radius: 3px;
      color: #fff;
      // background-color: $PrimaryColor;
      border: 0 none;
      font-weight: 500;
    }
    &BtnText {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
    }

    &Explanation {
      padding: 16px 0;

      &List {
        padding-top: 4px;
        color: #666;
        position: relative;
        font-size: 12px;
        line-height: 16px;
        padding-left: 7px;
      }
    }
  }
}
