.RegisterFormStyledButton{
  background-color: #fff;
  color: #5f0080;
  border-radius: 3px;
  border: 1px solid #5f0080;
  align-items: flex-start;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}