.extraBlankArea {
  margin: 0 auto;
  width: 640px;
  height: 29px;
  border-bottom: 1.2px solid #333333;
  padding-bottom: 10px;
  line-height: 17px;
  font-size: 12px;
  display: flex;
  justify-content: end;
}

.inputContentsWrapper {
  padding: 10px 20px;
  display: inline-flex;
  width: 640px;

  .inputAndHintWrapper {
    width: 333px;

    .locationsWrapper {
      margin-top: 8px;
      display: flex;
      flex-flow: column nowrap;
      gap: 8px;
    }
  }
}
.inputHint {
  padding-top: 8px;
  font-size: 13px;
  // height: 21px;
  line-height: 15px;
  color: #f03f40;
  font-weight: 500;
}

.redStar {
  padding-left: 2px;
  color: #ee6a7b;
}

.inputTitle {
  color: #333333;
  height: 20px;
  line-height: 48px;
  width: 139px;
  height: 48px;
  font-weight: 600;
}

.mainForm {
  width: 640px;
  margin: 0 auto;
  .textInput {
    padding: 12px 14px;
    width: 333px;
    height: 46px;
    border: #dddddd 1px solid;
    border-radius: 4px;
  }

  .birthInfoField {
    display: flex;
    justify-content: space-between;
    padding: 12px 20px;
    width: 333px;
    height: 46px;
    border: #dddddd 1px solid;
    border-radius: 4px;

    span {
      color: #afafaf;
    }
    .birthInput {
      display: flex;
      text-align: center;
      line-height: 20px;
      font-size: 15px;
      width: 95px;
    }
    .birthInput:focus-visible {
      outline: none;
    }
  }

  .radioInputsWrapper {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
    width: 333px;
    .radioInputLabel {
      height: 100%;
      display: flex;
      align-items: center;
      .radioInput {
        vertical-align: middle;
        appearance: none;
        border: 1px solid #dddddd;
        border-radius: 50%;
        width: 24px;
        height: 24px;
      }
      .radioInput:checked {
        // outline-offset: max(2px, 0.1em);
        border: 6px solid rgb(161, 95, 4);
      }
      .radioInput:focus-visible {
        outline-offset: max(2px, 0.1em);
        outline: max(2px, 0.1em) solid rgb(161, 95, 4);
      }
      span {
        display: inline-block;
        height: 16px;
        padding-left: 12px;
      }
    }
  }

  .checkboxInputTitleWrapper {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    width: 139px;
    height: 332px;
    padding-top: 12px;
    .checkboxInputTitle {
      color: #333333;
      width: 139px;
      font-weight: 600;
      display: block;
      margin-top: 0px;
    }
  }

  .termsOfConditionCheckboxesWrapper {
    display: flex;
    flex-flow: column nowrap;
    height: 332px;
    width: 481px;
    padding: 4px 0 0 0;

    .termsOfConditionCheckboxLabel {
      padding: 8px 0;
      display: flex;
      .termsOfConditionCheckbox {
        display: none;
      }

      .IsEssential {
        display: none;
      }
    }

    .agreeInfo {
      display: flex;
      width: 481px;
      height: 29px;
      line-height: 29px;
      justify-content: space-between;
      .agreeInfoMain {
        display: inline-block;
        margin-right: 4px;
      }
      .agreeInfoIsEssential {
        color: #999999;
      }

      .showTermsOfConditionBtn {
        color: rgb(161, 95, 4);
        margin-left: auto;
      }
    }

    .subCheckboxessWrapper {
      display: flex;
      padding-left: 36px;

      label {
        width: 144px;
        height: 47px;
        line-height: 25px;
      }
    }

    .checkboxInfoWrapper {
      margin-left: 12px;
    }

    .agreeAllInfo {
      display: flex;
      flex-flow: column nowrap;
      width: 100%;
      .agreeAllTitle {
        width: 125px;
        height: 27px;
        font-size: 19px;
        font-weight: 600;
      }
      .agreeAllDetail {
        // width: 125px;
        height: 18px;
        font-size: 12px;
        color: #666666;
        padding-top: 4px;
      }
    }
  }

  .submitBtnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 137px;
    .submitBtn {
      display: block;
      width: 240px;
      height: 56px;
      line-height: 16px;
      font-weight: 600;
      text-align: center;
      background-color: rgb(161, 95, 4);
      color: #ffffff;
      border-radius: 3px;
    }
  }
}
