.RegisterFormStyledButton {
  background-color: #fff;
  color: rgb(161, 95, 4);
  border-radius: 3px;
  border: 1px solid rgb(161, 95, 4);
  align-items: flex-start;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
}
